.git
.husky
.dart_tool
**/.dart_tool
**/build
**/.svelte-kit
**/node_modules
**/.venv
**/pnpm-lock.yaml
**/package-lock.json
**/*.dart
**/*.py
**/*.java
**/*.kt
**/*.swift
**/*.m
**/*.h
**/*.gradle
**/*.gradle.kts
**/*.g.dart
docs/code-map.md
local-untracked-ignored-*/
tools/
